nodered/flows/flow-influxDB_all.json
[
    {
        "id": "f00a487a.95faf8",
        "type": "tab",
        "label": "Data processing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8d118e1.ddd038",
        "type": "tab",
        "label": "Store data in InfluxDB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c77ab3af.0f028",
        "type": "tab",
        "label": "Read data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fee98c91.8a287",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1071f503.257ceb",
        "type": "ui_tab",
        "z": "",
        "name": "Sense Hat",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f315fd49.2b923",
        "type": "ui_group",
        "z": "",
        "name": "Statistics",
        "tab": "1071f503.257ceb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "42a92da.f061dd4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f315fd49.2b923",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3aaca43.eb9518",
        "type": "ui_group",
        "z": "",
        "name": "Temperature Graph",
        "tab": "cacb2438.d13638",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false
    },
    {
        "id": "cacb2438.d13638",
        "type": "ui_tab",
        "z": "",
        "name": "Time series",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ccc0b64f.610828",
        "type": "influxdb",
        "z": "c77ab3af.0f028",
        "hostname": "127.0.0.1",
        "port": "8086",
        "database": "environment",
        "name": "Environment Database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "e221cd11.84b39",
        "type": "influxdb",
        "z": "f8d118e1.ddd038",
        "hostname": "127.0.0.1",
        "port": "8086",
        "database": "environment",
        "name": "Environment Database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "bb270b26.18d878",
        "type": "pusher in",
        "z": "f00a487a.95faf8",
        "name": "Pusher",
        "channel": "data_env",
        "cluster": "eu",
        "eventname": "env",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "3c167705.047788",
                "2f3f528a.711dce",
                "3fe17a43.53da76"
            ]
        ]
    },
    {
        "id": "16f621c6.5c6aee",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "standardDeviation",
        "func": "msg.topic=\"standardDeviation\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 740,
        "wires": [
            [
                "af35f1da.61f24"
            ]
        ]
    },
    {
        "id": "12c13b1e.ff04b5",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "mean",
        "func": "msg.topic=\"mean\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "dee2f3d8.d5e29"
            ]
        ]
    },
    {
        "id": "dee2f3d8.d5e29",
        "type": "statistics",
        "z": "f00a487a.95faf8",
        "name": "statistics over 10",
        "dataSetSize": "10",
        "inputField": "payload",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 710,
        "y": 680,
        "wires": [
            [
                "616f042b.87437c",
                "d3039eec.02d7d",
                "75dee813.4e1318"
            ]
        ]
    },
    {
        "id": "616f042b.87437c",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "AVERAGE temperature (last 10)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1070,
        "y": 740,
        "wires": []
    },
    {
        "id": "3c167705.047788",
        "type": "change",
        "z": "f00a487a.95faf8",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "da94596a.0d2188",
                "f39c6034.25feb",
                "1356e68.0112c1a",
                "b0507720.53d728"
            ]
        ]
    },
    {
        "id": "da94596a.0d2188",
        "type": "buffer-array",
        "z": "f00a487a.95faf8",
        "name": "",
        "bufferLen": "10",
        "startWhenFilled": false,
        "x": 370,
        "y": 680,
        "wires": [
            [
                "12c13b1e.ff04b5",
                "16f621c6.5c6aee"
            ]
        ]
    },
    {
        "id": "6a02ae7b.f102",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "STANDARD DEV temperature (last 10)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1050,
        "y": 800,
        "wires": []
    },
    {
        "id": "af35f1da.61f24",
        "type": "statistics",
        "z": "f00a487a.95faf8",
        "name": "statistics over 10",
        "dataSetSize": "10",
        "inputField": "payload",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 690,
        "y": 740,
        "wires": [
            [
                "6a02ae7b.f102",
                "47ac34bd.0f964c"
            ]
        ]
    },
    {
        "id": "62adcdca.2488b4",
        "type": "ui_chart",
        "z": "f00a487a.95faf8",
        "name": "Temperature",
        "group": "f3aaca43.eb9518",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1250,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f39c6034.25feb",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "Instant temperature",
        "func": "// msg output for graphing instant data\nmsg1 = {payload: msg.payload, topic: 'Instant read'};\nreturn [msg1];",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "62adcdca.2488b4"
            ]
        ]
    },
    {
        "id": "d3039eec.02d7d",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "Temperature mean",
        "func": "// msg output for graphing average data\nmsg2 = {payload: msg.payload, topic: 'Average over last 10 reads'};\nreturn [msg2];",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "62adcdca.2488b4"
            ]
        ]
    },
    {
        "id": "47ac34bd.0f964c",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "Temperature stdDev",
        "func": "// msg output for graphing standard deviation data\nmsg3 = {payload: msg.payload, topic: 'Standard deviation over last 10 reads'};\nreturn [msg3];",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 580,
        "wires": [
            [
                "62adcdca.2488b4"
            ]
        ]
    },
    {
        "id": "1356e68.0112c1a",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store temperature",
        "links": [
            "6c7005d6.b64d5c"
        ],
        "x": 955,
        "y": 360,
        "wires": []
    },
    {
        "id": "6c7005d6.b64d5c",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN-Store temperature",
        "links": [
            "1356e68.0112c1a"
        ],
        "x": 515,
        "y": 560,
        "wires": [
            [
                "a1f41c67.d1372"
            ]
        ]
    },
    {
        "id": "a1f41c67.d1372",
        "type": "throttle",
        "z": "f8d118e1.ddd038",
        "name": "",
        "throttleType": "time",
        "timeLimit": "10",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "7e9cb44b.d40adc"
            ]
        ]
    },
    {
        "id": "49423bdc.9322e4",
        "type": "debug",
        "z": "f8d118e1.ddd038",
        "name": "Raw data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "693aa122.50776",
        "type": "comment",
        "z": "c77ab3af.0f028",
        "name": "InfluxDB READ query: Instant temperature",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "53f449eb.786eb8",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Temperature raw data",
        "info": "",
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e9cb44b.d40adc",
        "type": "function",
        "z": "f8d118e1.ddd038",
        "name": "INSERT temperature point",
        "func": "msg.payload = {location:\"HANGAR\", room: \"Warehouse\", temperature: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 560,
        "wires": [
            [
                "49423bdc.9322e4",
                "b7e150ab.b8806"
            ]
        ]
    },
    {
        "id": "b7e150ab.b8806",
        "type": "influxdb out",
        "z": "f8d118e1.ddd038",
        "influxdb": "e221cd11.84b39",
        "name": "Writing temperature data",
        "measurement": "sense_hat",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1150,
        "y": 560,
        "wires": []
    },
    {
        "id": "2feec98f.3ab246",
        "type": "influxdb out",
        "z": "f8d118e1.ddd038",
        "influxdb": "e221cd11.84b39",
        "name": "Writing mean temperature",
        "measurement": "sense_hat_avg",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1150,
        "y": 700,
        "wires": []
    },
    {
        "id": "2a9062d2.7107de",
        "type": "function",
        "z": "f8d118e1.ddd038",
        "name": "INSERT averaged temperature",
        "func": "msg.payload = {location:\"HANGAR\", room: \"Warehouse\", temperature: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 700,
        "wires": [
            [
                "59744186.0e569",
                "2feec98f.3ab246"
            ]
        ]
    },
    {
        "id": "59744186.0e569",
        "type": "debug",
        "z": "f8d118e1.ddd038",
        "name": "Averaged data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1140,
        "y": 760,
        "wires": []
    },
    {
        "id": "75dee813.4e1318",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store avg temperature",
        "links": [
            "a10d3ee8.de1d1"
        ],
        "x": 1235,
        "y": 680,
        "wires": []
    },
    {
        "id": "9cf08084.18e73",
        "type": "throttle",
        "z": "f8d118e1.ddd038",
        "name": "",
        "throttleType": "time",
        "timeLimit": "10",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 610,
        "y": 700,
        "wires": [
            [
                "2a9062d2.7107de"
            ]
        ]
    },
    {
        "id": "8c777fd6.34859",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Temperature averaged data",
        "info": "",
        "x": 330,
        "y": 700,
        "wires": []
    },
    {
        "id": "a10d3ee8.de1d1",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN- Store avg temperature",
        "links": [
            "75dee813.4e1318"
        ],
        "x": 515,
        "y": 700,
        "wires": [
            [
                "9cf08084.18e73"
            ]
        ]
    },
    {
        "id": "8cc58772.183038",
        "type": "inject",
        "z": "c77ab3af.0f028",
        "name": "Trigger database",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "2795485d.088068"
            ]
        ]
    },
    {
        "id": "2795485d.088068",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "SELECT points in the last 60s",
        "func": "//msg.query=\"SELECT * FROM temperatures\";\n//msg.query=\"SELECT last(temperature),time,location,room FROM sense_hat\";\n//msg.query=\"SELECT * FROM sense_hat WHERE time > now() - 1h limit 4\";\n//msg.query=\"SELECT * FROM sense_hat WHERE time > now() - 1m\";\nmsg.query=\"SELECT * FROM sense_hat WHERE time > now() - 60s\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "be7a2b6.2106ed8"
            ]
        ]
    },
    {
        "id": "be7a2b6.2106ed8",
        "type": "influxdb in",
        "z": "c77ab3af.0f028",
        "influxdb": "ccc0b64f.610828",
        "name": "'sense_hat' SELECT query II",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 800,
        "y": 200,
        "wires": [
            [
                "78b3735a.16ad1c",
                "d27548ea.d851d8"
            ]
        ]
    },
    {
        "id": "df930baf.bbb468",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "Last point INSTANT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1230,
        "y": 240,
        "wires": []
    },
    {
        "id": "78b3735a.16ad1c",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "All points",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "d27548ea.d851d8",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "Last point",
        "func": "const arr = msg.payload;\nmsg.payload = arr.slice(-1)[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 240,
        "wires": [
            [
                "df930baf.bbb468"
            ]
        ]
    },
    {
        "id": "aa352705.537c08",
        "type": "comment",
        "z": "c77ab3af.0f028",
        "name": "InfluxDB READ query: Averaged temperature",
        "info": "",
        "x": 270,
        "y": 280,
        "wires": []
    },
    {
        "id": "ca04a6aa.ba7bc8",
        "type": "inject",
        "z": "c77ab3af.0f028",
        "name": "Trigger database",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "1e3edcfd.009c13"
            ]
        ]
    },
    {
        "id": "1e3edcfd.009c13",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "SELECT points in the last 60s",
        "func": "msg.query=\"SELECT * FROM sense_hat_avg WHERE time > now() - 60s\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "1f10f597.36baba"
            ]
        ]
    },
    {
        "id": "1f10f597.36baba",
        "type": "influxdb in",
        "z": "c77ab3af.0f028",
        "influxdb": "ccc0b64f.610828",
        "name": "'sense_hat' SELECT query II",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "6e9923ae.2d7dbc",
                "a90944c2.05fc58"
            ]
        ]
    },
    {
        "id": "a747814d.2c09e",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "Last point AVERAGED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1260,
        "y": 460,
        "wires": []
    },
    {
        "id": "6e9923ae.2d7dbc",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "All points",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1060,
        "y": 400,
        "wires": []
    },
    {
        "id": "a90944c2.05fc58",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "Last point",
        "func": "const arr = msg.payload;\n\n// Use [0] to return the item itself\n//  Otherwise, it will return an array of a single item\nmsg.payload = arr.slice(-1)[0]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "a747814d.2c09e"
            ]
        ]
    },
    {
        "id": "e1da4835.94b578",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN-Store humidity",
        "links": [
            "42d5d5af.ca479c"
        ],
        "x": 515,
        "y": 320,
        "wires": [
            [
                "8759ead6.64c9f8"
            ]
        ]
    },
    {
        "id": "8759ead6.64c9f8",
        "type": "throttle",
        "z": "f8d118e1.ddd038",
        "name": "",
        "throttleType": "time",
        "timeLimit": "10",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "3799d1a5.6d0cce"
            ]
        ]
    },
    {
        "id": "11245af0.3e7275",
        "type": "debug",
        "z": "f8d118e1.ddd038",
        "name": "Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1120,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4efaac5.2fb3d8",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Humidity raw data",
        "info": "",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "3799d1a5.6d0cce",
        "type": "function",
        "z": "f8d118e1.ddd038",
        "name": "INSERT humidity point",
        "func": "msg.payload = {location:\"HANGAR\", room: \"Warehouse\", humidity: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "11245af0.3e7275",
                "1669d7ab.293118"
            ]
        ]
    },
    {
        "id": "1669d7ab.293118",
        "type": "influxdb out",
        "z": "f8d118e1.ddd038",
        "influxdb": "e221cd11.84b39",
        "name": "Writing humidity data",
        "measurement": "sense_hat_humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "ba467ef2.eb1",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN-Store pressure",
        "links": [
            "444f01f.56317"
        ],
        "x": 515,
        "y": 100,
        "wires": [
            [
                "b4e9441f.69a108"
            ]
        ]
    },
    {
        "id": "b4e9441f.69a108",
        "type": "throttle",
        "z": "f8d118e1.ddd038",
        "name": "",
        "throttleType": "time",
        "timeLimit": "10",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "19ec77e1.420dd8"
            ]
        ]
    },
    {
        "id": "5028debd.bf9d7",
        "type": "debug",
        "z": "f8d118e1.ddd038",
        "name": "Pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "b9e920ba.97a7b",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Pressure raw data",
        "info": "",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "19ec77e1.420dd8",
        "type": "function",
        "z": "f8d118e1.ddd038",
        "name": "INSERT pressure point",
        "func": "msg.payload = {location:\"HANGAR\", room: \"Warehouse\", pressure: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 100,
        "wires": [
            [
                "5028debd.bf9d7",
                "da0eb5c.3e37148"
            ]
        ]
    },
    {
        "id": "da0eb5c.3e37148",
        "type": "influxdb out",
        "z": "f8d118e1.ddd038",
        "influxdb": "e221cd11.84b39",
        "name": "Writing pressure data",
        "measurement": "sense_hat_pressure",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1140,
        "y": 100,
        "wires": []
    },
    {
        "id": "2f3f528a.711dce",
        "type": "change",
        "z": "f00a487a.95faf8",
        "name": "humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 340,
        "wires": [
            [
                "42d5d5af.ca479c"
            ]
        ]
    },
    {
        "id": "3fe17a43.53da76",
        "type": "change",
        "z": "f00a487a.95faf8",
        "name": "pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "444f01f.56317",
                "a9dbe831.642938",
                "4c16d08d.48318",
                "5acf4438.9278cc"
            ]
        ]
    },
    {
        "id": "42d5d5af.ca479c",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store humidity",
        "links": [
            "e1da4835.94b578"
        ],
        "x": 955,
        "y": 320,
        "wires": []
    },
    {
        "id": "444f01f.56317",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store pressure",
        "links": [
            "ba467ef2.eb1"
        ],
        "x": 955,
        "y": 240,
        "wires": []
    },
    {
        "id": "a9dbe831.642938",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "mean",
        "func": "msg.topic=\"mean\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 100,
        "wires": [
            [
                "acaa44e8.3c5648"
            ]
        ]
    },
    {
        "id": "acaa44e8.3c5648",
        "type": "statistics",
        "z": "f00a487a.95faf8",
        "name": "statistics over 10",
        "dataSetSize": "10",
        "inputField": "payload",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "ba6d2fb3.29606",
                "479856eb.0f1998"
            ]
        ]
    },
    {
        "id": "a6f6b547.673f48",
        "type": "statistics",
        "z": "f00a487a.95faf8",
        "name": "statistics over 10",
        "dataSetSize": "10",
        "inputField": "payload",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "f1574ef1.c57ec"
            ]
        ]
    },
    {
        "id": "4c16d08d.48318",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "standardDeviation",
        "func": "msg.topic=\"standardDeviation\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "a6f6b547.673f48"
            ]
        ]
    },
    {
        "id": "ba6d2fb3.29606",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "AVERAGE pressure (last 10)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1340,
        "y": 100,
        "wires": []
    },
    {
        "id": "f1574ef1.c57ec",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "STANDARD DEV pressure (last 10)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1320,
        "y": 160,
        "wires": []
    },
    {
        "id": "479856eb.0f1998",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store avg pressure",
        "links": [
            "838899e.f988368"
        ],
        "x": 1195,
        "y": 40,
        "wires": []
    },
    {
        "id": "838899e.f988368",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN-Store avg pressure",
        "links": [
            "479856eb.0f1998"
        ],
        "x": 515,
        "y": 160,
        "wires": [
            [
                "c9e9060d.5a96f8"
            ]
        ]
    },
    {
        "id": "c9e9060d.5a96f8",
        "type": "throttle",
        "z": "f8d118e1.ddd038",
        "name": "",
        "throttleType": "time",
        "timeLimit": "10",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "a5cf43e1.be30a"
            ]
        ]
    },
    {
        "id": "3bc7d85.d769128",
        "type": "debug",
        "z": "f8d118e1.ddd038",
        "name": "Avg. pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "56c2eb39.d92844",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Pressure averaged data",
        "info": "",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5cf43e1.be30a",
        "type": "function",
        "z": "f8d118e1.ddd038",
        "name": "INSERT avg pressure",
        "func": "msg.payload = {location:\"HANGAR\", room: \"Warehouse\", pressure: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 160,
        "wires": [
            [
                "3bc7d85.d769128",
                "ba7b6e93.33045"
            ]
        ]
    },
    {
        "id": "ba7b6e93.33045",
        "type": "influxdb out",
        "z": "f8d118e1.ddd038",
        "influxdb": "e221cd11.84b39",
        "name": "Writing pressure data",
        "measurement": "sense_hat_pressure_avg",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "fa1b64f8.12df78",
        "type": "comment",
        "z": "c77ab3af.0f028",
        "name": "InfluxDB READ query: Averaged pressure",
        "info": "",
        "x": 280,
        "y": 700,
        "wires": []
    },
    {
        "id": "50de13c2.c9a2ec",
        "type": "inject",
        "z": "c77ab3af.0f028",
        "name": "Trigger database",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "ddfb8eee.9f5db"
            ]
        ]
    },
    {
        "id": "ddfb8eee.9f5db",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "SELECT points in the last 60s",
        "func": "msg.query=\"SELECT * FROM sense_hat_pressure_avg WHERE time > now() - 60s\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 760,
        "wires": [
            [
                "8889a40b.d07558"
            ]
        ]
    },
    {
        "id": "8889a40b.d07558",
        "type": "influxdb in",
        "z": "c77ab3af.0f028",
        "influxdb": "ccc0b64f.610828",
        "name": "'sense_hat' SELECT query II",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 800,
        "y": 760,
        "wires": [
            [
                "70397706.03ea98",
                "8f1ad90a.c30bc8"
            ]
        ]
    },
    {
        "id": "7a0ab85f.776588",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "Last pressure AVERAGED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1260,
        "y": 800,
        "wires": []
    },
    {
        "id": "70397706.03ea98",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "All points",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1040,
        "y": 740,
        "wires": []
    },
    {
        "id": "8f1ad90a.c30bc8",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "Last point",
        "func": "const arr = msg.payload;\n\n// Use [0] to return the item itself\n//  Otherwise, it will return an array of a single item\nmsg.payload = arr.slice(-1)[0]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 800,
        "wires": [
            [
                "7a0ab85f.776588"
            ]
        ]
    },
    {
        "id": "44c4af37.b13f6",
        "type": "comment",
        "z": "c77ab3af.0f028",
        "name": "InfluxDB READ query: Instant pressure",
        "info": "",
        "x": 270,
        "y": 580,
        "wires": []
    },
    {
        "id": "93fc22c5.ce11",
        "type": "inject",
        "z": "c77ab3af.0f028",
        "name": "Trigger database",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "f297344b.6d0cc8"
            ]
        ]
    },
    {
        "id": "f297344b.6d0cc8",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "SELECT points in the last 60s",
        "func": "msg.query=\"SELECT * FROM sense_hat_pressure WHERE time > now() - 60s\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "8d6055d8.898758"
            ]
        ]
    },
    {
        "id": "8d6055d8.898758",
        "type": "influxdb in",
        "z": "c77ab3af.0f028",
        "influxdb": "ccc0b64f.610828",
        "name": "'sense_hat' SELECT query II",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 800,
        "y": 640,
        "wires": [
            [
                "a1f7a767.194068",
                "49eceaf0.587e04"
            ]
        ]
    },
    {
        "id": "9fca67c0.daa8a8",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "Last pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1220,
        "y": 680,
        "wires": []
    },
    {
        "id": "a1f7a767.194068",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "All points",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "49eceaf0.587e04",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "Last point",
        "func": "const arr = msg.payload;\n\n// Use [0] to return the item itself\n//  Otherwise, it will return an array of a single item\nmsg.payload = arr.slice(-1)[0]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 680,
        "wires": [
            [
                "9fca67c0.daa8a8"
            ]
        ]
    },
    {
        "id": "5acf4438.9278cc",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "Pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 960,
        "y": 280,
        "wires": []
    },
    {
        "id": "b0507720.53d728",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 970,
        "y": 400,
        "wires": []
    }
]