nodered/flows/flow-influxDB.json
[
    {
        "id": "f00a487a.95faf8",
        "type": "tab",
        "label": "Data processing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a96ba3b1.9582",
        "type": "tab",
        "label": "IMU data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8d118e1.ddd038",
        "type": "tab",
        "label": "Store data in InfluxDB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c77ab3af.0f028",
        "type": "tab",
        "label": "Read data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fee98c91.8a287",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f315fd49.2b923",
        "type": "ui_group",
        "z": "",
        "name": "Statistics",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "42a92da.f061dd4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f315fd49.2b923",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3aaca43.eb9518",
        "type": "ui_group",
        "z": "",
        "name": "Temperature data",
        "tab": "cacb2438.d13638",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false
    },
    {
        "id": "cacb2438.d13638",
        "type": "ui_tab",
        "z": "",
        "name": "Time series",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ccc0b64f.610828",
        "type": "influxdb",
        "z": "c77ab3af.0f028",
        "hostname": "127.0.0.1",
        "port": "8086",
        "database": "environment",
        "name": "Environment Database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "e221cd11.84b39",
        "type": "influxdb",
        "z": "f8d118e1.ddd038",
        "hostname": "127.0.0.1",
        "port": "8086",
        "database": "environment",
        "name": "Environment Database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "cdbd7873.ee2528",
        "type": "ui_group",
        "z": "",
        "name": "Motion sensors",
        "tab": "77e9623b.fb60dc",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a7ed8a6e.97d6e8",
        "type": "ui_group",
        "z": "",
        "name": "Compass",
        "tab": "77e9623b.fb60dc",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "77e9623b.fb60dc",
        "type": "ui_tab",
        "z": "",
        "name": "IMU",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb270b26.18d878",
        "type": "pusher in",
        "z": "f00a487a.95faf8",
        "name": "Pusher",
        "channel": "data_env",
        "cluster": "eu",
        "eventname": "env",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "ff102b7d.3d8168"
            ]
        ]
    },
    {
        "id": "16f621c6.5c6aee",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "standardDeviation",
        "func": "msg.topic=\"standardDeviation\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "af35f1da.61f24"
            ]
        ]
    },
    {
        "id": "12c13b1e.ff04b5",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "mean",
        "func": "msg.topic=\"mean\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "dee2f3d8.d5e29"
            ]
        ]
    },
    {
        "id": "dee2f3d8.d5e29",
        "type": "statistics",
        "z": "f00a487a.95faf8",
        "name": "statistics over 10",
        "dataSetSize": "10",
        "inputField": "payload",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 750,
        "y": 440,
        "wires": [
            [
                "616f042b.87437c",
                "d3039eec.02d7d",
                "75dee813.4e1318"
            ]
        ]
    },
    {
        "id": "616f042b.87437c",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "AVERAGE temperature (last 10)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1110,
        "y": 500,
        "wires": []
    },
    {
        "id": "3c167705.047788",
        "type": "change",
        "z": "f00a487a.95faf8",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "da94596a.0d2188",
                "f39c6034.25feb",
                "1356e68.0112c1a"
            ]
        ]
    },
    {
        "id": "da94596a.0d2188",
        "type": "buffer-array",
        "z": "f00a487a.95faf8",
        "name": "",
        "bufferLen": "10",
        "startWhenFilled": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "12c13b1e.ff04b5",
                "16f621c6.5c6aee",
                "dd4dd871.0552a8"
            ]
        ]
    },
    {
        "id": "6a02ae7b.f102",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "STANDARD DEV temperature (last 10)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1090,
        "y": 560,
        "wires": []
    },
    {
        "id": "af35f1da.61f24",
        "type": "statistics",
        "z": "f00a487a.95faf8",
        "name": "statistics over 10",
        "dataSetSize": "10",
        "inputField": "payload",
        "inputFieldType": "msg",
        "resultField": "payload",
        "resultFieldType": "msg",
        "parameterField": "",
        "parameterFieldType": "msg",
        "stripFunction": false,
        "resultOnly": true,
        "x": 730,
        "y": 500,
        "wires": [
            [
                "6a02ae7b.f102",
                "47ac34bd.0f964c"
            ]
        ]
    },
    {
        "id": "62adcdca.2488b4",
        "type": "ui_chart",
        "z": "f00a487a.95faf8",
        "name": "Temperature",
        "group": "f3aaca43.eb9518",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f39c6034.25feb",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "Instant temperature",
        "func": "// msg output for graphing instant data\nmsg1 = {payload: msg.payload, topic: 'Instant read'};\nreturn [msg1];",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 200,
        "wires": [
            [
                "62adcdca.2488b4"
            ]
        ]
    },
    {
        "id": "d3039eec.02d7d",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "Temperature mean",
        "func": "// msg output for graphing average data\nmsg2 = {payload: msg.payload, topic: 'Average over last 10 reads'};\nreturn [msg2];",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "62adcdca.2488b4"
            ]
        ]
    },
    {
        "id": "47ac34bd.0f964c",
        "type": "function",
        "z": "f00a487a.95faf8",
        "name": "Temperature stdDev",
        "func": "// msg output for graphing standard deviation data\nmsg3 = {payload: msg.payload, topic: 'Standard deviation over last 10 reads'};\nreturn [msg3];",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 340,
        "wires": [
            [
                "62adcdca.2488b4"
            ]
        ]
    },
    {
        "id": "1356e68.0112c1a",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store temperature",
        "links": [
            "6c7005d6.b64d5c"
        ],
        "x": 895,
        "y": 160,
        "wires": []
    },
    {
        "id": "6c7005d6.b64d5c",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN-Store temperature",
        "links": [
            "1356e68.0112c1a"
        ],
        "x": 515,
        "y": 320,
        "wires": [
            [
                "a1f41c67.d1372"
            ]
        ]
    },
    {
        "id": "a1f41c67.d1372",
        "type": "throttle",
        "z": "f8d118e1.ddd038",
        "name": "",
        "throttleType": "time",
        "timeLimit": "10",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "7e9cb44b.d40adc"
            ]
        ]
    },
    {
        "id": "49423bdc.9322e4",
        "type": "debug",
        "z": "f8d118e1.ddd038",
        "name": "Raw data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "693aa122.50776",
        "type": "comment",
        "z": "c77ab3af.0f028",
        "name": "InfluxDB READ query: Instant temperature",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "53f449eb.786eb8",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Temperature raw data",
        "info": "",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "7e9cb44b.d40adc",
        "type": "function",
        "z": "f8d118e1.ddd038",
        "name": "INSERT temperature point",
        "func": "msg.payload = {location:\"HANGAR\", room: \"Warehouse\", temperature: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 320,
        "wires": [
            [
                "49423bdc.9322e4",
                "b7e150ab.b8806"
            ]
        ]
    },
    {
        "id": "dd4dd871.0552a8",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "BUFFER Temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "b7e150ab.b8806",
        "type": "influxdb out",
        "z": "f8d118e1.ddd038",
        "influxdb": "e221cd11.84b39",
        "name": "Writing temperature data",
        "measurement": "sense_hat",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1150,
        "y": 320,
        "wires": []
    },
    {
        "id": "75dee813.4e1318",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store avg temperature",
        "links": [
            "a10d3ee8.de1d1"
        ],
        "x": 1275,
        "y": 440,
        "wires": []
    },
    {
        "id": "8c777fd6.34859",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Temperature averaged data",
        "info": "",
        "x": 330,
        "y": 460,
        "wires": []
    },
    {
        "id": "a10d3ee8.de1d1",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN- Store avg temperature",
        "links": [
            "75dee813.4e1318"
        ],
        "x": 515,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc58772.183038",
        "type": "inject",
        "z": "c77ab3af.0f028",
        "name": "Trigger database",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "2795485d.088068"
            ]
        ]
    },
    {
        "id": "2795485d.088068",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "SELECT points in the last 60s",
        "func": "//msg.query=\"SELECT * FROM temperatures\";\n//msg.query=\"SELECT last(temperature),time,location,room FROM sense_hat\";\n//msg.query=\"SELECT * FROM sense_hat WHERE time > now() - 1h limit 4\";\n//msg.query=\"SELECT * FROM sense_hat WHERE time > now() - 1m\";\n\n// Temperature\nmsg.query=\"SELECT * FROM sense_hat WHERE time > now() - 60s\";\n\n// ------ Store data before querying it -----------------------------------\n// Pressure\n//msg.query=\"SELECT * FROM sense_hat_pressure WHERE time > now() - 60s\";\n// Humidity\n//msg.query=\"SELECT * FROM sense_hat_humidity WHERE time > now() - 60s\";\n// ------------------------------------------------------------------------\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "be7a2b6.2106ed8"
            ]
        ]
    },
    {
        "id": "be7a2b6.2106ed8",
        "type": "influxdb in",
        "z": "c77ab3af.0f028",
        "influxdb": "ccc0b64f.610828",
        "name": "'sense_hat' SELECT query II",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 800,
        "y": 200,
        "wires": [
            [
                "78b3735a.16ad1c",
                "d27548ea.d851d8"
            ]
        ]
    },
    {
        "id": "df930baf.bbb468",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "Last point INSTANT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1230,
        "y": 240,
        "wires": []
    },
    {
        "id": "78b3735a.16ad1c",
        "type": "debug",
        "z": "c77ab3af.0f028",
        "name": "All points",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "d27548ea.d851d8",
        "type": "function",
        "z": "c77ab3af.0f028",
        "name": "Last point",
        "func": "const arr = msg.payload;\nmsg.payload = arr.slice(-1)[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 240,
        "wires": [
            [
                "df930baf.bbb468"
            ]
        ]
    },
    {
        "id": "e1da4835.94b578",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN-Store humidity",
        "links": [
            "42d5d5af.ca479c"
        ],
        "x": 515,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f4efaac5.2fb3d8",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Humidity raw data",
        "info": "",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba467ef2.eb1",
        "type": "link in",
        "z": "f8d118e1.ddd038",
        "name": "IN-Store pressure",
        "links": [
            "444f01f.56317"
        ],
        "x": 515,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b9e920ba.97a7b",
        "type": "comment",
        "z": "f8d118e1.ddd038",
        "name": "InfluxDB: Pressure raw data",
        "info": "",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "2f3f528a.711dce",
        "type": "change",
        "z": "f00a487a.95faf8",
        "name": "humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "42d5d5af.ca479c"
            ]
        ]
    },
    {
        "id": "3fe17a43.53da76",
        "type": "change",
        "z": "f00a487a.95faf8",
        "name": "pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 80,
        "wires": [
            [
                "444f01f.56317"
            ]
        ]
    },
    {
        "id": "42d5d5af.ca479c",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store humidity",
        "links": [
            "e1da4835.94b578"
        ],
        "x": 895,
        "y": 100,
        "wires": []
    },
    {
        "id": "444f01f.56317",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "Store pressure",
        "links": [
            "ba467ef2.eb1"
        ],
        "x": 895,
        "y": 40,
        "wires": []
    },
    {
        "id": "ff102b7d.3d8168",
        "type": "switch",
        "z": "f00a487a.95faf8",
        "name": "extract",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "motion",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "932d25e1.5d6868",
                "3c167705.047788",
                "2f3f528a.711dce",
                "3fe17a43.53da76"
            ],
            [
                "937177ff.052d38",
                "6c78bf66.e1516"
            ],
            [
                "2d45bc5b.0696d4"
            ]
        ]
    },
    {
        "id": "932d25e1.5d6868",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "environment",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "937177ff.052d38",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "motion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d45bc5b.0696d4",
        "type": "debug",
        "z": "f00a487a.95faf8",
        "name": "otherwise",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "1c97ef46.2a5ff1",
        "type": "comment",
        "z": "f00a487a.95faf8",
        "name": "output 1: environment",
        "info": "",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "ccb59ffb.02f27",
        "type": "comment",
        "z": "f00a487a.95faf8",
        "name": "output 2: motion",
        "info": "",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "29f223f4.7684ac",
        "type": "comment",
        "z": "f00a487a.95faf8",
        "name": "output 3: discarded",
        "info": "It can be produced by other IoT devices publishing in the same Pusher app & topic",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "6c78bf66.e1516",
        "type": "link out",
        "z": "f00a487a.95faf8",
        "name": "IMU out",
        "links": [
            "d5313b1e.3020a8"
        ],
        "x": 255,
        "y": 300,
        "wires": []
    },
    {
        "id": "d5313b1e.3020a8",
        "type": "link in",
        "z": "a96ba3b1.9582",
        "name": "IMU in",
        "links": [
            "6c78bf66.e1516"
        ],
        "x": 180,
        "y": 260,
        "wires": [
            [
                "cb57f51f.0203c8",
                "56ebdbf9.d6fbe4",
                "6e8f9ae.d20ac64",
                "c1cd0e7e.b00df",
                "e1931d1c.29375"
            ]
        ]
    },
    {
        "id": "cb57f51f.0203c8",
        "type": "debug",
        "z": "a96ba3b1.9582",
        "name": "motion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "6e8f9ae.d20ac64",
        "type": "change",
        "z": "a96ba3b1.9582",
        "name": "acceleration",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.acceleration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "f81d6512.416e98",
                "59f2020c.b62b9c"
            ]
        ]
    },
    {
        "id": "f81d6512.416e98",
        "type": "ui_text",
        "z": "a96ba3b1.9582",
        "group": "cdbd7873.ee2528",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "aceleracion",
        "label": "Aceleracion",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 910,
        "y": 40,
        "wires": []
    },
    {
        "id": "c1cd0e7e.b00df",
        "type": "change",
        "z": "a96ba3b1.9582",
        "name": "gyroscope",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyroscope",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 378,
        "y": 153,
        "wires": [
            [
                "446110fc.1e6d8",
                "fa4906b5.33f118"
            ]
        ]
    },
    {
        "id": "446110fc.1e6d8",
        "type": "ui_text",
        "z": "a96ba3b1.9582",
        "group": "cdbd7873.ee2528",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "giroscopio",
        "label": "giroscopio",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "8aa4e41e.86cbc8",
        "type": "ui_text",
        "z": "a96ba3b1.9582",
        "group": "cdbd7873.ee2528",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "orientacion",
        "label": "orientacion",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "56ebdbf9.d6fbe4",
        "type": "change",
        "z": "a96ba3b1.9582",
        "name": "orientation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.orientation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 375,
        "y": 206,
        "wires": [
            [
                "8aa4e41e.86cbc8",
                "f9313033.92d35"
            ]
        ]
    },
    {
        "id": "e1931d1c.29375",
        "type": "change",
        "z": "a96ba3b1.9582",
        "name": "compass",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.compass",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 261,
        "wires": [
            [
                "9881b060.59d8c",
                "a5b325a9.9956b8"
            ]
        ]
    },
    {
        "id": "9881b060.59d8c",
        "type": "ui_gauge",
        "z": "a96ba3b1.9582",
        "name": "Compas",
        "group": "a7ed8a6e.97d6e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Compas",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "f9313033.92d35",
        "type": "debug",
        "z": "a96ba3b1.9582",
        "name": "orientation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "a5b325a9.9956b8",
        "type": "debug",
        "z": "a96ba3b1.9582",
        "name": "compass",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "fa4906b5.33f118",
        "type": "debug",
        "z": "a96ba3b1.9582",
        "name": "gyroscope",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "59f2020c.b62b9c",
        "type": "debug",
        "z": "a96ba3b1.9582",
        "name": "acceleration",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 40,
        "wires": []
    }
]